/* stylesHome.css */
body {
	font-family: 'Arial', sans-serif;
	background-color: #f7f9fb;
	color: #333;
	margin: 20px;
	padding: 20px;
}

h1 {
	color: #3498db;
	text-align: center;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #3498db;
	margin-right: 10px;
}

form {
	max-width: 1000px;
	margin: 20px auto;
	background-color: #fff;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* Vertically center items */
}

label {
	display: block;
	margin-top: 10px;
}

input,
button {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px;
	/* Added margin for spacing */
}

button {
	background-color: #2ecc71;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #3498db;
	color: white;
}

a.button {
	background-color: #2ecc71;
	color: white;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

td {
	background-color: #ecf0f1;
}

tr:hover {
	background-color: #d5e8f1;
}

a.edit-link {
	color: #3498db;
}